NODE_ENV=development
PORT=3001
API_PREFIX=api/v1

DATABASE_URL=postgresql://iriefishmongers:iriefishmongers@localhost:5432/iriefishmongers?schema=public
REDIS_URL=redis://localhost:6379

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=7d

APP_BASE_URL=http://localhost:3001
CORS_ORIGIN=http://localhost:3000,http://localhost:3002
WIPAY_API_URL=https://tx.wipayfinancial.com/plugins/payments
WIPAY_ACCOUNT_NUMBER=
WIPAY_API_KEY=
